.resume-section#infoPanel
	.resume-section-header
		h3 Personal Information
	.resume-section-body
		form.form-horizontal
			.form-group
				label.control-label Full Name
				div.field-holder#field-full-name(data-toggle="tooltip",data-placement="top",title="Stick to your full name. No nicknames, Scooter.")
					input(type="text").form-control
			.form-group
				label.control-label Street Address
				div.field-holder
					input(type="text").form-control
			.form-group
				label.control-label City
				div.field-holder
					input(type="text").form-control
			.form-group
				label.control-label US State
				div.field-holder
					input(type="text").form-control
			.form-group
				label.control-label ZIP Code
				div.field-holder
					input(type="text").form-control
			.form-group
				label.control-label E-Mail Address
				div.field-holder
					input(type="email").form-control
			.form-group
				label.control-label Phone Number
				div.field-holder
					input(type="text").form-control
			.form-group
				label.control-label Website URL
				div.field-holder#field-website(data-toggle="tooltip",data-placement="top",title="Don't have a website? Try your CVW address. If your resume is printed or sent around in a document format, the address will be there for anyone to see.")
					input(type="text").form-control