.resume-section#objectivePanel
	.resume-section-header
		h3 Objective
	.resume-section-body
		form.form-horizontal
			.form-group
				label.col-sm-3.control-label Be real.
				div.col-sm-9
					textarea(class="form-control")