.resume-section#skillsPanel
	.resume-section-header
		h3 Skills
	.resume-section-body
		form(role="form")
			.row.form-group#skillCloner
				.col-xs-11
					input(type="text",placeholder="Skill").form-control
				.col-xs-1
					span.glyphicon.glyphicon-remove
			.row.form-group
				.col-xs-12
					input(type="text",placeholder="Skill").form-control
			.row.btn-row
				.col-xs-12
					button#addSkill.btn.btn-primary.pull-right Add Another