doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		title Builder
		link(rel="stylesheet",type="text/css",href="http://fonts.googleapis.com/css?family=Roboto+Condensed:400italic,400,700")
		link(rel="stylesheet",type="text/css",href="css/styles.css")
	body
		.container
			.row
				.col-sm-12
					h1 CV Wonder
					h2 Your 
						strong Default
						|  Resume
		.container
			.row
				.col-sm-12
					.alert.alert-info.alert-dismissable 
						button.close(data-dismiss="alert",type="button",aria-hidden="true") &times;
						| We've created some sample sections for you. Don't bother looking for the save button, we're always auto-saving your resume.
			.resume-builder
				.resume-section-controls
					div.list-group#resume-sections-overview
						a.list-group-item(href="#infoPanel")
							span.sorter
								span.glyphicon.glyphicon-align-justify
							| Personal Information
						a.list-group-item(href="#objectivePanel")
							span.sorter
								span.glyphicon.glyphicon-align-justify
							| Objective
						a.list-group-item(href="#skillsPanel")
							span.sorter
								span.glyphicon.glyphicon-align-justify
							| Skills
						a.list-group-item(href="#experiencePanel1")
							span.sorter
								span.glyphicon.glyphicon-align-justify
							| Experience
						a.list-group-item(href="#educationPanel1")
							span.sorter
								span.glyphicon.glyphicon-align-justify
							| Education
					.form-inline
						.form-group
							label Create a new section
							br
							select.form-control(style="width:160px")
								option Experience
							button.btn.btn-primary.btn-sm(data-toggle="modal",data-target="#create-section") Add New Section
				.resume-sections
					include builder-section-info
					include builder-section-objective
					include builder-section-skills
					include builder-section-experience

		//- .modal.fade#create-section
		//- 	.modal-dialog
		//- 		.modal-content
		//- 			.modal-header
		//- 				button.close(data-dismiss="modal",type="button",aria-hidden="true") &times;
		//- 				h4.modal-title New section
		//- 			.modal-body
		//- 				.container
		//- 					.row
		//- 						.col-sm-4
		//- 							.form-group
		//- 								label Section Type
		//- 								select.form-control
		//- 									option Work Experience
		//- 			.modal-footer
		//- 				button.btn.btn-default(data-dismiss="modal") Cancel
		//- 				button.btn.btn-primary(data-dismiss="modal") Create
		
		script(src="http://cdnjs.cloudflare.com/ajax/libs/knockout/3.1.0/knockout-min.js")
		script(src="http://code.jquery.com/jquery-1.11.0.min.js")
		script(src="js/bootstrap.min.js")
		script(src="bower_components/Sortable/Sortable.js")
		script.
			var resumeSections = document.getElementById("resume-sections-overview");
			new Sortable(resumeSections, {
					handle: ".glyphicon-align-justify",
					onUpdate: function(){
						//update sections and save here	
					}
				});
			$(document).ready(function(){
				//add skills
				$("#addSkill").click(function(){
					$("#skillCloner").clone().insertBefore("#skillsPanel .btn-row").show();
					return false;
				});
				//remove skills
				$("#skillsPanel").on("click",".glyphicon-remove",function(){
					if($("#skillsPanel .form-group").length>2) {
						var remField = $(this).parent().parent();
						remField.fadeOut("fast",function(){
							remField.remove();
						});
					}
				});
				//
				$("#field-full-name,#field-website").tooltip();
			});