doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		title Builder
		link(rel="stylesheet",type="text/css",href="css/styles.css")
	body#stevie
		.container
			.row
				.col-sm-12
					h1 CV Wonder
			.row
				.col-sm-12
					p Pages Here:
					ul
						li
							a(href="builder.html") Builder