@import "bootstrap/bootstrap.less";

body {
	background: #efefef;
	font-family: "Roboto Condensed",sans-serif;
}

body#stevie {
	background:url(../img/stevie.jpg) center top no-repeat;
	background-size:cover;
	h1,p  {
		color: #fff;
	}
	.container {
		background: transparent;
	}
}

h2 strong {
	background: @gray-lighter;
	padding: 4px;
}

.container {
	background: #fff;
}

.resume-builder {
	.make-row();
}

.resume-section-controls {
	.make-sm-column(4);
}

.resume-sections {
	.make-sm-column(8);
}

.sorter {
	float: right;
}

#skillCloner {
	display: none;
}

.glyphicon-remove {
	cursor: pointer;
	color: @brand-danger;
}

#resume-sections-overview .glyphicon {
	cursor: move;
}

.resume-section {
	.panel();
	.panel-default();
	&:extend(.panel-default all);
	.resume-section-header {
		.panel-heading();
		background: @gray-light;
		color: #fff;
		&:extend(.panel-heading all);
		h3 {
			.panel-title();
		}
	}
	.resume-section-body {
		.panel-body();		
	}

}

#infoPanel .form-group {
	label {
		font-weight: normal;
		.make-sm-column(3);
	}
	div.field-holder {
		.make-sm-column(9);
		input {
			width: 100% !important;
		}
	}
}

.tooltip-inner {
    max-width: 350px;
}